.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    /* "nav nav nav nav" */
    "adidas apple amazon beats"
    "dre bezos cook threestripes";
}

/* .nav{
    grid-area: nav;
    height: 100px;
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: auto;
} */

.adidas{
    grid-area: adidas;
}

.apple{
    grid-area: apple;
}

.amazon{
    grid-area: amazon;
}

.beats{
    grid-area: beats;
}

.dre{
    grid-area: dre;
}

.bezos{
    grid-area: bezos;
}

.cook{
    grid-area: cook;
}

.threestripes{
    grid-area: threestripes;
}


.adidas, .amazon, .apple, .beats,
.bezos, .cook, .dre, .threestripes{
    /* justify-self: center;
    align-self: center; */
    /* place-self does justify-self + align-self in one */
    place-self: center;
    border: 1px solid #eee;
    max-height: 50vh;
    padding: 3em;
}

div img{
    width: 100%;
    height: auto;
}
